.button
  padding: 0
  width: 216px
  height: 52px
  line-height: 52px
  font-size: 17px
  letter-spacing: -0.4px
  text-align: center
  color: #ffffff
  background-color: $blue
  border-color: $blue
  border-radius: 5px
  cursor: pointer
  box-sizing: border-box
  +SFProTextMedium

  &.small
    width: 108px
    +SFProTextMedium

  &.medium
    width: 180px
    height: 40px
    line-height: 40px
    font-size: 14px
    letter-spacing: -0.3px

  &.large
    font-size: 20px
    width: 270px
    height: 56px
    line-height: 56px
    +SFProTextSemibold

  &.xs
    width: 116px
    height: 24px
    line-height: 24px
    font-size: 13px
    color: $blue

  &.grey
    line-height: 0
    background-color: #f0f1f1
    border-color: #f0f1f1