//write here your sass
+font(sf-pro-display-regular, sf-pro-display-regular)
+font(sf-pro-display-bold, sf-pro-display-bold)
+font(sf-pro-display-semibold, sf-pro-display-semibold)
+font(sf-pro-text-regular, sf-pro-text-regular)
+font(sf-pro-text-medium, sf-pro-text-medium)
+font(sf-pro-text-bold, sf-pro-text-bold)
+font(sf-pro-text-semibold, sf-pro-text-semibold)
+font(sf-pro-text-heavy, sf-pro-text-heavy)
+font(sf-pro-text-medium, sf-pro-text-medium)

=SFProText
  font-family: 'sf-pro-text-regular', Helvetica, Arial, sans-serif
=SFProTextMedium
  font-family: 'sf-pro-text-medium', Helvetica, Arial, sans-serif
=SFProTextBold
  font-family: 'sf-pro-text-bold', Helvetica, Arial, sans-serif
=SFProTextSemibold
  font-family: 'sf-pro-text-semibold', Helvetica, Arial, sans-serif
=SFProDisplay
  font-family: 'SFProDisplay-regular', Helvetica, Arial, sans-serif
=SFProDisplayBold
  font-family: 'sf-pro-display-bold', Helvetica, Arial, sans-serif
=SFProDisplaySemibold
  font-family: 'sf-pro-display-semibold', Helvetica, Arial, sans-serif
=SFProDisplayHeavy
  font-family: 'sf-pro-display-heavy', Helvetica, Arial, sans-serif
=SFProDisplayMedium
  font-family: 'sf-pro-display-medium', Helvetica, Arial, sans-serif

body
  display: flex
  flex-direction: column
  min-height: 100vh
  color: $dark
  font-size: 13px
  line-height: 1.4
  +SFProText

button:focus
  outline: none
  cursor: pointer

.title
  color: #1c1c1f
  letter-spacing: -0.1px

.icon

  &__img
    width: 36px
    height: 36px

.path
  margin-top: 15px
  opacity: 0.5

.details
  margin: 20px 0
  text-align: right

.rating
  display: flex
  flex-direction: column

.guarantee

  &__list
    display: flex
    flex-direction: row
    align-items: center

.cost
  opacity: .5
  letter-spacing: -0.1px
  line-height: 1.23
  +SFProTextSemibold

.atom
  margin-bottom: 20px
