//write here your sass
+font(sf-pro-display-regular, sf-pro-display-regular)
+font(sf-pro-display-bold, sf-pro-display-bold)
+font(sf-pro-display-semibold, sf-pro-display-semibold)
+font(sf-pro-text-regular, sf-pro-text-regular)
+font(sf-pro-text-medium, sf-pro-text-medium)
+font(sf-pro-text-bold, sf-pro-text-bold)

=SFProText
  font-family: 'sf-pro-text-regular', Helvetica, Arial, sans-serif
=SFProTextMedium
  font-family: 'sf-pro-text-medium', Helvetica, Arial, sans-serif
=SFProTextBold
  font-family: 'sf-pro-text-bold', Helvetica, Arial, sans-serif
=SFProDisplay
  font-family: 'SFProDisplay-regular', Helvetica, Arial, sans-serif
=SFProDisplayBold
  font-family: 'sf-pro-display-bold', Helvetica, Arial, sans-serif
=SFProDisplaySemibold
  font-family: 'sf-pro-display-semibold', Helvetica, Arial, sans-serif

body
  display: flex
  flex-direction: column
  min-height: 100vh
  color: $dark
  font-size: 13px
  line-height: 1.4
  +SFProText

.title
  color: #1c1c1f
  letter-spacing: -0.1px

.size
  padding-right: 30px
  color: #545457
  text-align: right

  &.red
    color: $red

.icon

  &__img
    width: 36px
    height: 36px

.path
  margin-top: 15px
  color: #87888A

.details
  margin: 20px 0
  text-align: right




