.details
  margin: 20px 0
  text-align: right

  &__btn
    padding: 0
    position: relative
    right: 30px
    border: none
    font-size: 13px
    letter-spacing: -0.1px
    color: $blue
    background-color: transparent
    cursor: pointer
    +SFProTextSemibold