.diagram
  margin: 30px

  &__wrap
    display: flex
    flex-direction: row
    width: 100%
    height: 56px
    line-height: 56px
    text-align: center
    box-sizing: border-box

  &__left
    background-color: $blue
    opacity: .75
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-right: none

  &__right
    background-color: $green
    opacity: .75
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-left: none

  &__percent
    color: #fff
    +SFProTextSemibold