$iconBgDefault: #8E9BB0

.icon
  display: inline-block
  width: 64px
  height: 64px
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &.small
    width: 36px
    height: 36px

  &.large
    width: 192px
    height: 192px

  &.empty
    background-color: $iconBgDefault

.icon-star
  display: inline-block
  width: 13px
  height: 13px
  background: url("/img/icon_star.svg") no-repeat