//.list
//  padding: 0 30px
//
//  &__el
//    position: relative
//    display: flex
//    justify-content: space-between
//    align-items: center
//
//    &::after
//      position: absolute
//      content: ''
//      width: calc(100% - 94px)
//      right: 0
//      bottom: 0
//      border-bottom: 1px solid #E3E4E7
//
//    &:last-child
//      &::after
//        border-bottom: none
//
//  &__status
//  width: 385px
//
//  //.item
//  //  margin-right: 30px
//  //  width: 52%
//  //.status
//  //  width: 48%
//  .bar
//    width: 100%
//
.item
  padding: 20px 0
  display: flex
  flex-direction: row

  &__icon
    line-height: 0
    object-fit: contain

  &__data
    margin-left: 30px
    padding-bottom: 20px
    display: flex
    flex-direction: row
    align-items: center
    flex-basis: 100%
    border-bottom: 1px solid #E3E4E7

  &__info
    width: 48%
    display: flex
    flex-direction: column

  &__status
    width: 52%

  &__title
    font-size: 17px
    color: #313235
    text-transform: capitalize
    letter-spacing: 0.2px
    line-height: 22px
    +SFProDisplaySemibold

  &__size
    font-size: 17px
    +SFProDisplaySemibold

//  &__scan
//    font-size: 20px
//    color: #313235
//    +SFProDisplaySemibold
//
//  &__percent
//    font-size: 20px
//    color: #0D9CE9
//    +SFProDisplaySemibold
//
//  &__description
//    font-size: 13px
//    color: #545457
//

//
//    &.green
//      color: #68C15E
//
//    &.orange
//      color: #F1A239
//
//    &.red
//      color: #EA453C
//
//  &.column
//    flex-direction: column
//    text-align: center
//
//    .item__info
//      margin-top: 12px
//      margin-left: 0
//
//    .item__img
//      margin-bottom: 30px
//
//    .item__title
//      font-size: 20px
//      +SFProDisplaySemibold
//
//    .item__description
//      display: inline-block
//      margin: 5px 0
