.item
  padding: 20px 30px
  display: flex
  flex-direction: row
  box-sizing: border-box

  &:last-child
    padding-bottom: 0

  &__icon
    line-height: 0
    object-fit: contain

  &__data
    margin-left: 30px
    padding-bottom: 20px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-basis: 100%

  &__info
    padding-right: 30px
    //width: 360px
    display: flex
    flex-direction: column
    box-sizing: border-box

  &__status
    width: 52%

  &__result
    text-align: right

  &__title
    font-size: 17px
    opacity: 0.95
    text-transform: capitalize
    letter-spacing: 0.2px
    line-height: 22px
    +SFProDisplaySemibold

    &.fz-20
      font-size: 20px

  &__size
    font-size: 17px
    +SFProDisplaySemibold

    &.red
      color: $red

  &__details
    margin-top: 10px
    text-align: right
    cursor: pointer

  &__description
    font-size: 13px
    opacity: 0.75
    letter-spacing: -0.1px

  &__button
    padding: 0
    border: none
    background-color: transparent
    color: $blue
    +SFProDisplaySemibold

  &__scan
    font-size: 20px
    color: #313235
    +SFProDisplaySemibold

  &__percent
    margin-left: 5px
    font-size: 20px
    color: #0D9CE9
    +SFProDisplaySemibold

  &__checkbox
    display: flex
    align-items: center

    .checkbox
      margin-right: 10px

  &__progress
    display: flex
    align-items: center

    .item__title
      margin-left: 10px

  &.green
    .item__size
      color: $green
    .bar__el,
    .label:first-child
      color: #ffffff
      background-color: $green

  &.orange
    .item__size
      color: $orange
    .bar__el,
    .label:nth-child(2)
      color: #ffffff
      background-color: $orange

  &.red
    .item__size
      color: $red
    .bar__el,
    .label:last-child
      color: #ffffff
      background-color: $red

  &.column
    padding: 0
    display: inline-flex
    flex-direction: column
    justify-content: center
    text-align: center

    .item__info
      width: 320px
      margin-top: 12px
      margin-left: 0
      padding-right: 0

    .item__img
      margin-bottom: 30px

    .item__title
      font-size: 20px
      +SFProDisplaySemibold

    .item__description
      display: inline-block
      margin: 5px 0

    .item__size
      opacity: .95
      letter-spacing: 0.3px
      font-size: 20px
      +SFProDisplaySemibold

    .item__status
      width: 100%