.junk-files
  +SFProDisplay

  &__select
    font-size: 20px
    letter-spacing: 0.3px
    color: $dark
    opacity: 0.95

  &__quantity
    display: block
    font-size: 13px
    color: $dark
    opacity: 0.75

  &__size
    font-size: 20px
    color: $blue
    +SFProDisplaySemibold

    &.red
      color: $red