.app
  margin: 0 auto
  width: 860px
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.container
  width: 100%

.main
  display: flex
  height: 520px
  overflow-y: scroll
  overflow: hidden

  &.column
    width: 100%
    min-height: 520px
    flex-direction: column
    overflow-y: auto

  &.center
    align-items: center

  &.separator

    .item__info
      width: 45%

    .item__status
      width: 55%
      position: relative
      top: -11px

  &.firewall
    .item.general
      .item__wrap
        align-items: baseline
      .item__title
        text-transform: capitalize
      .state
        margin-right: 8px
      .item__title
        margin-right: 0

.footer
  height: 112px
  padding: 0 30px
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #f3f4f6
  border-top: 1px solid $borderGrey
  box-sizing: border-box

  &.scaning

    .footer__left
      width: 100%
      margin-right: 30px

  &.rescan
    display: flex
    justify-content: center

  &.center
    justify-content: center

  &.right
    justify-content: flex-end