.app
  margin: 0 auto
  width: 860px
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.container
  width: 100%

.section
  display: flex
  width: 100%

  &__left
    width: 58%
    text-align: center

  &__right
    width: 42%

  &.width
    .section__left
      width: 42%

    .section__right
      width: 58%

.header
  border-bottom: 1px solid $borderGrey

  .item
    align-items: center

    &__wrap
      width: 100%
      display: flex
      justify-content: space-between

    &__title
      margin-right: 10px

    &__information
      margin-left: 30px
      flex-direction: row

    &__description
      display: block

.footer
  padding: 30px
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #f3f4f6
  border-top: 1px solid $borderGrey

  &.scaning

    .footer__left
      width: 100%
      margin-right: 30px