.app
  margin: 0 auto
  width: 860px
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.container
  width: 100%

.header
  border-bottom: 1px solid $borderGrey
  //padding-bottom: 15px

  .item
    align-items: center

    &__wrap
      width: 100%
      display: flex
      justify-content: space-between

    &__title
      margin-right: 10px

    &__information
      margin-left: 30px
      flex-direction: row

    &__description
      display: block

.main
  display: flex
  min-height: 520px

  &.column
    width: 100%
    min-height: auto
    flex-direction: column

  &.center
    align-items: center

  &.separator

    .item__info
      width: 45%

    .item__status
      width: 55%

.footer
  height: 112px
  padding: 0 30px
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #f3f4f6
  border-top: 1px solid $borderGrey
  box-sizing: border-box

  &.scaning

    .footer__left
      width: 100%
      margin-right: 30px

  &.rescan
    display: flex
    justify-content: center

  &.center
    justify-content: center