.list
  display: flex
  flex-direction: column

  &.without-checkbox
    padding-left: 35px

  &__el

    &:first-child
      .item__data::after
        display: none

    &:last-child
      .tree-item__right::after
        display: none

    .list
      margin-left: 35px
      &__el
        &:last-child
          .tree-item__right::after
            display: none
  .ml
    margin-left: 12%