.list
  display: flex
  flex-direction: column

  &.without-checkbox
    padding-left: 35px

    .tree-item
      &:hover,
      &.selected
        background-color: transparent

        .tree-item__right::after
          background-color: $borderGrey

  &.with-last-border
    .list__el
      & > .tree-item .tree-item__right::after
        display: block

  &__el
    &:last-child

      .item__data::after
        display: none

    .list
      margin-left: 35px

      &__el:last-child
        .tree-item__right::after
          display: block

  &.with-right-link
    .item__result
      padding-bottom: 20px
