.popup-payment
  width: 780px
  position: relative
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3)
  box-sizing: border-box

  &__head
    margin: 0 30px
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 84px
    line-height: 84px

  &__btn-close
    display: inline-block
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    width: 24px
    height: 24px
    cursor: pointer
    background: url("../img/icon_close.svg") no-repeat
    background-size: cover

  &__title
    margin-right: 10px
    font-size: 20px
    letter-spacing: 0.3px
    opacity: .95
    +SFProDisplaySemibold

  &__content
    padding: 0 30px
    background-color: #F4F4F5

  &__action
    padding-bottom: 20px
    text-align: center
    border-bottom: 1px solid $borderGrey

  &__footer
    padding: 16px 0

  &__guarantee
    display: flex
    justify-content: space-between
    align-items: center

  &.hide
    display: none

  .modal
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    z-index: 100