.popup-activate
  width: 780px
  position: relative
  text-align: center
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3)
  box-sizing: border-box

  &__head
    margin: 0 30px
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 84px
    line-height: 84px

  &__wrap
    display: flex
    flex-direction: row
    width: 100%
    border-top: 1px solid $borderGrey

  &__left
    width: 70%

  &__right
    width: 30%

  &__btn-close
    display: inline-block
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    width: 24px
    height: 24px
    cursor: pointer
    background: url("../img/icon_close.svg") no-repeat
    background-size: cover

  &__title
    margin-right: 10px
    font-size: 20px
    letter-spacing: 0.3px
    opacity: .95
    +SFProDisplaySemibold

  &__content
    padding: 30px 30px 80px
    background-color: #F4F4F5
    border-top: 1px solid $borderGrey
    border-bottom: 1px solid $borderGrey

    .popup-activate__title
      margin-right: 0
      margin-bottom: 3px

  &__footer
    padding: 20px 30px

  &__action
    padding-bottom: 20px
    border-bottom: 1px solid $borderGrey

    button
      width: 240px

  &__guarantee
    padding-top: 15px
    display: flex
    align-items: center
    justify-content: space-between

    .guarantee
      img
        margin-right: 20px

  &.hide
    display: none

  &.rating
    width: 880px

    .popup-activate

      &__head
        width: 100%

      &__content
        border-top: none

      &__left
        width: 75%
        border-right: 1px solid $borderGrey

      &__right
        width: 25%
        padding: 0 15px

      &__action

        button
          width: 300px

    .guarantee
      justify-content: flex-start

      img
        margin-right: 20px

    .plan
      width: 180px

      .message
        width: 300px
        left: 50%
        transform: translate(-50%,100%)

      .general
        width: 200px

