.sort
  position: relative
  text-align: right

  &__name
    padding-right: 20px
    font-size: 13px
    opacity: .75
    +SFProTextMedium

  &__arrow
    display: inline-block
    position: absolute
    top: 60%
    right: 0
    transform: translateY(-60%)
    width: 12px
    height: 14px
    transform-origin: 50%
    background-image: url("../img/icon_arrow.svg")

  &.up
    .sort__arrow
      transform: rotate(180deg) translateY(60%)