.sort
  text-align: right

  &__btn
    position: relative
    padding-right: 20px
    font-size: 13px
    opacity: .75
    +SFProTextMedium

    &::after,
    &::before
      content: ''
      position: absolute
      top: 9px
      width: 9px
      height: 2px
      background-color: #8D8C8F

    &::after
      right: 3px
      transform: rotate(45deg)

    &::before
      right: -2px
      transform: rotate(-45deg)