.start-page
  padding-top: 70px
  padding-bottom: 10px
  height: 100vh
  display: flex
  flex-direction: column
  text-align: center
  background-color: #F8F9F8

  &__el
    display: inline-block
    width: 256px
    height: 256px
    background-color: #C7C8CE

  &__title
    margin-top: 30px
    margin-bottom: 20px
    font-size: 22px
    line-height: 28px
    letter-spacing: 0.3px
    +SFProDisplay

  &__subtitle
    display: inline-block
    font-size: 15px

  &__btn
    margin-top: 30px

  &__version
    position: fixed
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    color: #8D8D8F
    letter-spacing: -0.1px