.start-page
  position: relative
  //padding: 70px 0
  width: 100%
  //height: 100%
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  box-sizing: border-box

  &__wrap
    width: 620px
    padding: 0 20px
    box-sizing: border-box

  &__picture
    display: inline-block
    width: 256px
    height: 256px
    background-color: $dark
    opacity: 0.25

  &__title
    //max-width: 620px
    margin-top: 30px
    margin-bottom: 15px
    font-size: 22px
    line-height: 28px
    color: $dark
    opacity: 0.95
    letter-spacing: 0.3px
    +SFProDisplay

  &__subtitle
    display: inline-block
    font-size: 15px
    opacity: 0.95

  &__version
    position: fixed
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    color: #8D8D8F
    letter-spacing: -0.1px

//.start-page
//  //padding-top: 70px
//  padding-bottom: 10px
//  width: 100%
//  height: 100vh
//  display: flex
//  flex-direction: column
//  text-align: center
//  background-color: #F8F9F8
//
//  &__wrap
//    width: 620px
//    padding: 0 20px
//    box-sizing: border-box
//
//  &__el
//    display: inline-block
//    width: 256px
//    height: 256px
//    background-color: #C7C8CE
//  &__title
//    margin-top: 30px
//    margin-bottom: 20px
//    font-size: 22px
//    line-height: 28px
//    letter-spacing: 0.3px
//    +SFProDisplay
//  &__subtitle
//    display: inline-block
//    font-size: 15px
//  &__btn
//    margin-top: 30px
//  &__version
//    position: fixed
//    bottom: 0
//    left: 50%
//    transform: translateX(-50%)
//    color: #8D8D8F
//    letter-spacing: -0.1px
