.support
  padding: 0 20px
  width: 220px
  box-sizing: border-box

  &__top
    padding-bottom: 28px
    border-bottom: 1px solid #E0E2E3

  &__bottom
    padding-top: 28px

  &__title
    font-size: 20px
    +SFProDisplaySemibold

  &__phone
    display: block
    font-size: 20px
    color: #0097e8
    letter-spacing: 0.3px
    +SFProDisplaySemibold

  &__btn
    margin-top: 28px

  &__link
    color: #0097e8
    letter-spacing: -0.1px

  &__link,
  &__phone
    text-decoration: none
