.tree-item
  position: relative
  display: flex
  padding: 10px 30px
  width: 100%
  background-color: transparent
  box-sizing: border-box
  transition: all .3s ease-in-out
  overflow: hidden

  &__left
    display: inline-flex
    align-items: center

  &__right
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 100%

    &:after
      position: absolute
      content: ''
      left: 0
      bottom: -10px
      width: 1000px
      height: 1px
      background-color: $borderGrey

  &__title
    display: flex
    align-items: center

  &__arrow
    margin-right: 15px

  &__checkbox
    //margin-left: 15px
    margin-right: 20px

  &__icon
    margin-right: 15px
    line-height: 0

  &__text
    margin-right: 10px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    +SFProTextMedium

  &__sum
    display: flex

    .tree-item__size
      margin-right: 5px

  &__size
    flex-shrink: 0
    opacity: .75
    +SFProTextMedium

  &__btn
    display: none
    padding: 6px
    border: none
    background-color: transparent
    background-image: url('../img/icon_search.svg')
    background-size: cover

  &__status
    position: relative
    padding-right: 20px
    color: #424244
    +SFProTextMedium

    &::after
      position: absolute
      content: ''
      top: 50%
      right: 0
      transform: translateY(-50%)
      width: 10px
      height: 10px
      border-radius: 50px
      background-color: #68C15E

    &.red
      &::after
        background-color: #EA463D

  &__progress
    display: flex

  .arrow
    position: absolute
    top: 50%
    left: 10px
    transform: translateY(-50%)
    transform-origin: center

  &:hover,
  &.selected
    background-color: $borderGrey
