.tree-item
  position: relative
  display: flex
  padding: 10px 30px
  width: 100%
  background-color: #ffffff
  box-sizing: border-box
  transition: all .3s ease-in-out

  &__left
    display: inline-flex
    align-items: center

  &__right
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 100%
    overflow: hidden

  &__title
    display: flex
    align-items: center

  &__arrow
    margin-right: 15px

  &__checkbox
    //margin-left: 15px
    margin-right: 20px

  &__icon
    margin-right: 15px
    line-height: 0

  &__text
    margin-right: 10px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    +SFProTextMedium

  &__size
    flex-shrink: 0
    opacity: 0.75
    +SFProTextMedium

    &.red
      color: #EA463D
      opacity: 1

  &__btn
    display: none
    padding: 6px
    border: none
    background-color: transparent
    background-image: url('../img/icon_search.svg')
    background-size: cover

  .arrow
    position: absolute
    top: 50%
    left: 10px
    transform: translateY(-50%)
    transform-origin: center

  &:hover,
  &.selected
    background-color: $borderGrey

    .tree-item__btn
      display: inline-block